<config>
    <modules>
        <Magjah_Customship>
            <version>0.1.0</version>
        </Magjah_Customship>
    </modules>
    <default>
        <carriers>
            <magjah_customship>
                <model>magjah_customship/carrier_shipjah</model>
            </magjah_customship>
        </carriers>
    </default>
    <global>
        <blocks>
            <magjah_customship>
                <class>Magjah_Customship_Block</class>
            </magjah_customship>
        </blocks>
        <helpers>
            <magjah_customship>
                <class>Magjah_Customship_Helper</class>
            </magjah_customship>
        </helpers>
        <models>
            <magjah_customship>
                <class>Magjah_Customship_Model</class>
                <resourceModel>magjah_customship_resource</resourceModel>
            </magjah_customship>
            <magjah_customship_resource>
                <class>Magjah_Customship_Model_Resource</class>
                <entities>
                    <customship>
                        <table>magjah_customship</table>
                    </customship>
                </entities>
            </magjah_customship_resource>
        </models>
        <resources>
            <magjah_customship_setup>
                <setup>
                    <module>Magjah_Customship</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magjah_customship_setup>
            <magjah_customship_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magjah_customship_write>
            <magjah_customship_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magjah_customship_read>
        </resources>
    </global>
    <frontend> <!-- Mage_Core_Model_App_Area you have all are for scope -->
        <routers>
            <magjahcustomship>
                <use>standard</use>
                <args>
                    <module>Magjah_Customship</module>
                    <frontName>magjahcustomship</frontName>
                </args>
            </magjahcustomship>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magjah_customship before="Mage_Adminhtml">Magjah_Customship_Adminhtml</magjah_customship>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>